@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.font-sans {
    font-family: Montserrat, sans-serif !important;
}

.d-blck {
    display: block !important;
}

.jtifyend {
    justify-self: end;
}

.alselcent {
    align-self: center;
}

.inptvrd {
    border-radius: 0;
}

.customFile {
    border: 1px solid #ccc !important;
    overflow: hidden !important;
}

.customFile::file-selector-button {
    border: 1px solid rgb(31, 41, 55);
    padding: 0.2em 0.4em;
    color: #fff;
    background-color: rgb(31, 41, 55);
}

.dropzone {
    border: 2px solid rgb(239 68 68 / 50%) !important;
}

@media(min-width:768px) {
    .carlogin {
        max-width: 41rem;
    }
}

@media(min-width:1024px) {
    .carlogin {
        max-width: 41rem;
    }
}